/*                           */
/* baseic coloring                          */
/*                           */
/*                           */
/*                           */

body {
color: pink;



}



.intro{
  background-image: url("http://placekitten.com/g/1200/1200")

}

.h1{
font-weight: 800;



}
